:root {
  --frappe-rosewater: #f2d5cf;
  --frappe-rosewater-50: #f2d5cf80;
  --frappe-rosewater-10: #f2d5cf20;
  --frappe-flamingo: #eebebe;
  --frappe-flamingo-50: #eebebe80;
  --frappe-flamingo-10: #eebebe20;
  --frappe-pink: #f4b8e4;
  --frappe-pink-50: #f4b8e480;
  --frappe-pink-10: #f4b8e420;
  --frappe-mauve: #ca9ee6;
  --frappe-mauve-50: #ca9ee680;
  --frappe-mauve-10: #ca9ee620;
  --frappe-red: #e78284;
  --frappe-red-50: #e7828480;
  --frappe-red-10: #e7828420;
  --frappe-maroon: #ea999c;
  --frappe-maroon-50: #ea999c80;
  --frappe-maroon-10: #ea999c20;
  --frappe-peach: #ef9f76;
  --frappe-peach-50: #ef9f7680;
  --frappe-peach-10: #ef9f7620;
  --frappe-yellow: #e5c890;
  --frappe-yellow-50: #e5c89080;
  --frappe-yellow-10: #e5c89020;
  --frappe-green: #a6d189;
  --frappe-green-50: #a6d18980;
  --frappe-green-10: #a6d18920;
  --frappe-teal: #81c8be;
  --frappe-teal-50: #81c8be80;
  --frappe-teal-10: #81c8be20;
  --frappe-sky: #99d1db;
  --frappe-sky-50: #99d1db80;
  --frappe-sky-10: #99d1db20;
  --frappe-sapphire: #85c1dc;
  --frappe-sapphire-50: #85c1dc80;
  --frappe-sapphire-10: #85c1dc20;
  --frappe-blue: #8caaee;
  --frappe-blue-50: #8caaee80;
  --frappe-blue-10: #8caaee20;
  --frappe-lavender: #babbf1;
  --frappe-lavender-50: #babbf180;
  --frappe-lavender-10: #babbf120;

  --frappe-text: #c6d0f5;
  --frappe-subtext: #a5adce;

  --frappe-overlay0: #737994;
  --frappe-overlay1: #838ba7;
  --frappe-overlay2: #949cbb;

  --frappe-surface0: #414559;
  --frappe-surface1: #51576d;
  --frappe-surface2: #626880;

  --frappe-base: #303446;
  --frappe-mantle: #292c3c;
  --frappe-crust: #232634;
}
